.home-container{
    height: 250px;
    color: white;
    margin-left: 100px;
}

.home-content h2{
    padding: 5px;
    padding-top: 60px;
}

.home-content h1{
    padding: 5px;
    color: lightcoral;
}

.home-buttons{
    margin-top: 10px;
}

.home-buttons .btn-hire{
    background-color: blue;
    color: white;
    width: 120px;
    
}

.home-buttons .btn-hire:hover{
    background-color:white;
    color: blue;
    width: 200px;
    transition: 1s;
}

.home-buttons .btn-cv{
    background-color: #a7561c;
    color: white;
    width: 120px;
    margin-left: 15px;
}

.home-buttons .btn-cv:hover{
    opacity: 80%;
    transition: 1s;
    width: 200px;
}

.theme-btn{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 50px;
    width: 50px;
    background-color:black;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    z-index: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px ;
}

/* responsive home page */

@media(max-width:600px){
    .home-container{
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }
    .home-container h2{
        font-size: 24px;
    }
    .home-container h1{
        font-size: 24px;
    }
}